@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
	body {
		@apply font-sans;
	}

	body[lang='ain-Kana'],
	*[lang='ain-Kana'] {
		@apply font-ain;
	}

	h1 {
		@apply text-2xl font-bold;
	}

	h2 {
		@apply my-4 text-lg font-bold;
	}

	button {
		@apply border border-black bg-gray-200 px-4 py-2 text-black shadow-hard hover:bg-gray-300 hover:shadow-harder;
	}

	a {
		@apply text-theme-800 underline underline-offset-1 hover:text-theme-500;
	}

	ruby {
		@apply inline-flex flex-col-reverse items-center gap-0;
	}

	rt {
		@apply text-sm;
	}

	input[type='text'],
	input[type='search'] {
		@apply m-0 h-10 w-full min-w-[220px] appearance-none border border-gray-900 bg-white p-2 px-4 py-2 text-sm text-black shadow-hard hover:bg-neutral-200 hover:shadow-harder focus:border-black focus:ring-black;
	}

	input[type='search']::-webkit-search-cancel-button {
		-webkit-appearance: none;
		height: 1.5em;
		width: 1.5em;
		border-radius: 9999px;
		background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12z"/></svg>')
			no-repeat 50% 50%;
		background-size: contain;
		opacity: 0;
		pointer-events: none;
		transform: translateX(0.5em);
		margin-right: 0;
	}

	input[type='search']:focus::-webkit-search-cancel-button {
		opacity: 0.5;
		pointer-events: all;
	}

	input[type='search']::-webkit-search-cancel-button:hover {
		opacity: 1;
		pointer-events: all;
	}
}
